# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.tiny-islands.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\unity-games\tiny-islands\.idea\.idea.tiny-islands\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
